@font-face {
	font-family: "Expressway";
	src: url(expresswayfree.ttf) format("truetype");
}
body {
  background-color: black;
  padding: 130px;
}

div {
  font-family: arial, Expressway;
  text-align: center;
  }

h4 {
	font-family: arial, Expressway;
  color: white;
  margin-left: 20px;
}

h1 {
	font-family: arial, Expressway;
  color: white;
  margin-left: 20px;
}
